@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --radius: 0.5rem;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}